body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', serif;

}

.header,
.hero-part,
.footer {
  background-color: #1F2937;
  color: white;
}

.header {
  height: 76px;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.header-links {
  display: flex;
  gap: 15px;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a {
  text-decoration: none;
}
