body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header,
.hero-part,
.footer {
  background-color: #1F2937;
  color: white;
}

.header {
  height: 76px;
  display: flex;
}

.header-links {
  display: flex;
  gap: 15px;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
